.title{
    color: blue;
    
}
.content{
    padding-top: 10px;
    margin: auto;
}
.row{
    display:flex;
    gap: 10px;

    mat-form-field{
        width: 100%;
    }
}
.action{
    padding-bottom: 30px;
    display: flex;
    gap: 10px;
    margin: auto;
    width: 60%;
    button{
        flex: 1;
    }
}